universities.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT universities (university+)>

<!ELEMENT university (name, abbreviation, status, foundation_year, 
                     contact_info, description, faculties, gallery?, achievements?)>
<!ATTLIST university
          id ID #REQUIRED
          type (state|private) #REQUIRED
          accreditation (full|partial) #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name
          lang CDATA #IMPLIED>

<!ELEMENT abbreviation (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT foundation_year (#PCDATA)>

<!ELEMENT contact_info (address, phones, email, website)>
<!ELEMENT address (city, street, house, building?, zip_code)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT house (#PCDATA)>
<!ELEMENT building (#PCDATA)>
<!ELEMENT zip_code (#PCDATA)>

<!ELEMENT phones (phone+)>
<!ELEMENT phone (#PCDATA)>
<!ATTLIST phone
          type CDATA #REQUIRED>

<!ELEMENT email (#PCDATA)>
<!ELEMENT website (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!ELEMENT faculties (faculty+)>
<!ELEMENT faculty (name, abbreviation, dean, established, departments?, specializations?)>
<!ATTLIST faculty
          id ID #REQUIRED
          code CDATA #REQUIRED
          priority (high|medium|low) #IMPLIED>

<!ELEMENT departments (department+)>
<!ELEMENT department (name, head, student_count)>
<!ATTLIST department
          code CDATA #REQUIRED>

<!ELEMENT head (#PCDATA)>
<!ELEMENT student_count (#PCDATA)>
<!ELEMENT established (#PCDATA)>

<!ELEMENT specializations (specialization+)>
<!ELEMENT specialization (#PCDATA)>

<!ELEMENT gallery (photo+)>
<!ELEMENT photo (title, file_path, description, year)>
<!ATTLIST photo
          id ID #REQUIRED
          category CDATA #REQUIRED
          priority CDATA #IMPLIED>

<!ELEMENT title (#PCDATA)>
<!ELEMENT file_path (#PCDATA)>
<!ELEMENT year (#PCDATA)>

<!ELEMENT achievements (achievement+)>
<!ELEMENT achievement (title, description)>
<!ATTLIST achievement
          year CDATA #REQUIRED
          category CDATA #REQUIRED>

<!ELEMENT dean (#PCDATA)>